<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shiss</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/shiss.css') }}">

</head>
<body>
    <div class = 'page_topper'></div>
 {% for player in players %}
    {% if player.color == 'black' %}
    <p>{{player.time}}</p>
        {% for item in player.vict_list %}
            <img src = "/static/{{item.color}}/{{item.type}}.png" alt= "_" width="25" height="25">
        {% endfor %}
    {% endif %}
 {% endfor %}
    <div class='board'>{% for p in rng %}
    <p class ='chessrow'>
        {% for q in rng %}
            <img src="/static/{{players[0].gameboard[p][q].color}}/{{players[0].gameboard[p][q].type}}.png" class="chessblock" draggable ="true" alt="_" id = "{{players[0].gameboard[p][q].id}}{{p}}{{q}}">
        {% endfor %}
    </p>
    {% endfor %}></div>
 {% for player in players %}
    {% if player.color == 'white' %}
        <p>{{player.time}}</p>
        {% for item in player.vict_list %}
            <img src = "/static/{{item.color}}/{{item.type}}.png" alt= "_" width="25" height="25">
        {% endfor %}
    {% endif %}
 {% endfor %}
<div hidden>
    <h5 id="legalist">{% for move in players[0].legal_moves %}
        {{move.repr}},
    {% endfor %}</h5>
</div>
<div class = 'page_topper'></div>
<script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src='{{ url_for("static", filename="js/drag_and_deliver.js") }}'></script>
</body>
<footer></footer>
</html>