<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shiss</title>
</head>
<body>
 {% for item in players[1].vict_list %}
    <img src = "static/{{item.color}}/{{item.type}}.png" alt= "_" width="25" height="25">
 {% endfor %}
    {% for p in rng %}
    <p>
        {% for q in rng %}
            <img src = "static/{{players[0].gameboard[p][q].color}}/{{players[0].gameboard[p][q].type}}.png" alt= "_" width="75" height="75" id = "{{p}},{{q}}">
        {% endfor %}
    </p>
    {% endfor %}
 {% for item in players[0].vict_list %}
    <img src = "static/{{item.color}}/{{item.type}}.png" alt= "_" width="25" height="25">
 {% endfor %}
<form method="POST">
    <h3>Make Move</h3>
        <h5>{% for move in players[0].legal_moves %}
            {{move}},
        {% endfor %}</h5>
    {{nput.hidden_tag()}}
    <p>{{nput.input}}</p>
    <p>{{nput.sub}}</p>

</body>
</html>